    <footer class="footer-distributed">
      <div class="container">
        <div class="footer">
          <p>PythonDebugging.com and Ironbound Software &copy; 2017-2019</p>
          <a href="/articles/debugging-python-without-ide">Debugging Python without an IDE</a>&nbsp;|&nbsp;<a href="/articles/python-debugging-unit-test">Debugging Python Unit tests</a>&nbsp;|&nbsp;<a href="/articles/python-off-by-one-error-range">Off-by-one errors in Python</a>
          </ul>
          <hr>
          {% include social.html %}
        </div>
      </div>
    </footer>
